body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 10pt;
  width: 250px;
  margin: 0 auto;
  position: relative;
}

#download {
  display: block;
  margin: 1rem 0.3rem;
  width: 100%;
  text-align: center;
}

.change-year {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  width: 20px;
  height: 40px;
}

#decrement-year {
  left: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="40"><path d="M16.5,7.5 L4.5,20 L16.5,32.5" fill="none" stroke="#999" stroke-width="7" stroke-linecap="round"></path></svg>');
}

#increment-year {
  right: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="40"><path d="M3.5,7.5 L15.5,20 L3.5,32.5" fill="none" stroke="#999" stroke-width="7" stroke-linecap="round"></path></svg>');
}

main {
  width: 147px;
  margin: 0 auto;
}

svg text {
  font-size: 10pt;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.day {
  fill: whitesmoke;
  stroke: lightgray;
  stroke-width: 1;
}

.month {
  fill: none;
  stroke: black;
  stroke-width: 2;
}
